# Global Lead Ownership
*                   @Amey

# Frontend Workspaces
/frontend/janhavi/  @Janhavi
/frontend/tanmay/   @Tanmay
/frontend/src/      @Amey

# Backend Workspace
/backend/amey/      @Amey

# Documentation & Tasks
/TASKS/AMEY.md      @Amey
/TASKS/JANHAVI.md   @Janhavi
/TASKS/TANMAY.md    @Tanmay
